.icon-bar{
	background: #fff;
}

.github-event-list h1{
	margin-bottom: 30px;
}

.github-event-list-item{
	border-bottom: 1px solid #aaa;
	padding: 10px;
}

.github-event-list-item .fa{
	display: inline-block;
	color: #777;
	margin-right: 10px;	
}



.navbar-custom {
    background-color:#333;
    color:#fff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus,
.nav > li > a:focus, 
.nav > li > a:hover,
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.navbar-toggle,
.btn-custom-danger {
    color: #ffffff;
    background-color:#777;
}

.navbar-custom .navbar-brand {    
	color:#eee;
}

.navbar-custom .navbar-brand {    
	color:#eee;
}
.navbar-logo-text{	
	display: inline-block;
	margin-left: 5px;	
}

.profileImage{
	width: 20px;
	display: inline-block;
	margin-left: 10px;
}
.navbar-custom .dropdown-menu{
	padding:5px;
}

.btn .glyphicon{
	display: inline-block;
	margin: 0 5px; 
}